{% extends 'base.html' %}
{% block body %}

<h2 style="color:white;">Details of selected movies</h2><br>
<div class="container">
    <div class="row">
        <div class="col">
             <img src="{{movie.image.url}}" class="img-fluid" alt="Responsive image"><br>
        </div>
        <div class="col">
            <h3>Name of movie : <h1 style="color:white;">{{movie.name}}</h1></h3><br>
            <h3>Released year : {{movie.year}}</h3><br>
            <h3>About :{{movie.desc}}</h3><br>

<a href="{% url 'movieapp:update' movie.id %}" class="btn btn-warning">Update</a>
<a href="{% url 'movieapp:delete' movie.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'movieapp:index' %}" class="btn btn-primary">home</a>
      </div></div></div>
{% endblock %}